(LOG) {
    log {
        # 日志格式参考 https://github.com/caddyserver/format-encoder 插件文档
        format formatted "[{ts}] {request>remote_addr} {request>proto} {request>method} <- {status} -> {request>host} {request>uri} {request>headers>User-Agent>[0]}"  {
            time_format "iso8601"
        }
        output file "{args.0}" {
            roll_size 100mb
            roll_keep 3
            roll_keep_for 7d
        }
    }
}

# 请替换为你的域名 例如: example.com {
:80 {
    root * /app/public
    encode zstd gzip
    file_server
    php_fastcgi php:9000

    request_body { 
            max_size 100MB 
    }
    # 日志
    log {
        format console {
            time_local
            time_format wall_milli
        }
         output file /app/docker/logs/access.log {
            roll_size 100mb
            roll_keep 3
            roll_keep_for 7d
         }
    }
}